---
import Viewer from "@/components/Viewer.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Astro Document Viewer"
  description="A website that allows you to view PDF files online."
>
  <section
    class="flex justify-center px-4 py-8"
    aria-label="PDF Document Viewer"
  >
    <Viewer
      src="https://github.com/AREA44/astro-document-viewer/blob/main/public/compressed.tracemonkey-pldi-09.pdf?raw=1"
    />
  </section>
</BaseLayout>
